.vs/*
JokeGetter/.vs/*
*.config
JokeGetter/JokeGettterCore/bin/*
JokeGetter/JokeGettterCore/obj/*
JokeGetter/JokeGettterCommon/bin/*
JokeGetter/JokeGettterCommon/obj/*
JokeGetter/JokeGettterGUI/bin/*
JokeGetter/JokeGettterGUI/obj/*
JokeGetter/UnitTests/bin/*
JokeGetter/UnitTests/obj/*